In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('bots_vs_users.csv')

In [5]:
df

,has_domain,has_birth_date,has_photo,can_post_on_wall,can_send_message,has_website,gender,has_short_name,has_first_name,has_last_name,...,ads_ratio,avg_views,posting_frequency_days,phone_numbers_ratio,avg_text_uniqueness,city,has_occupation,occupation_type_university,occupation_type_work,has_personal_data
0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
1,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
2,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
3,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
4,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5869,1.0,1.0,1.0,0.0,0.0,Unknown,2.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Saint Petersburg,1.0,0.0,1.0,Unknown
5870,1.0,Unknown,1.0,0.0,0.0,Unknown,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Saint Petersburg,1.0,1.0,0.0,Unknown
5871,1.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Saint Petersburg,1.0,1.0,0.0,Unknown
5872,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Moscow,1.0,0.0,1.0,Unknown
5873,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,431.3,17.79,0.0,0.61,Saint Petersburg,1.0,0.0,1.0,1.0

In [6]:
df.columns

Index(['has_domain', 'has_birth_date', 'has_photo', 'can_post_on_wall',
       'can_send_message', 'has_website', 'gender', 'has_short_name',
       'has_first_name', 'has_last_name', 'access_to_closed_profile',
       'is_profile_closed', 'target', 'has_nickname', 'has_maiden_name',
       'has_mobile', 'all_posts_visible', 'audio_available', 'has_interests',
       'has_books', 'has_tv', 'has_quotes', 'has_about', 'has_games',
       'has_movies', 'has_activities', 'has_music', 'can_add_as_friend',
       'can_invite_to_group', 'subscribers_count', 'is_blacklisted',
       'has_career', 'has_military_service', 'has_hometown', 'marital_status',
       'has_universities', 'has_schools', 'has_relatives', 'is_verified',
       'is_confirmed', 'has_status', 'posts_count', 'avg_likes', 'links_ratio',
       'hashtags_ratio', 'avg_keywords', 'avg_text_length',
       'attachments_ratio', 'avg_comments', 'reposts_ratio', 'ads_ratio',
       'avg_views', 'posting_frequency_days', 'phone_numbers_ratio',
       'avg_text_uniqueness', 'city', 'has_occupation',
       'occupation_type_university', 'occupation_type_work',
       'has_personal_data'],
      dtype='object')

In [7]:
df.drop(['has_nickname','has_maiden_name',
       'has_mobile', 'all_posts_visible', 'audio_available', 'has_interests',
       'has_books', 'has_tv', 'has_quotes', 'has_about', 'has_games',
       'has_movies', 'has_activities', 'has_music', 'can_add_as_friend',
       'can_invite_to_group', 'subscribers_count', 'is_blacklisted',
       'has_career', 'has_military_service', 'has_hometown', 'marital_status',
       'has_universities', 'has_schools', 'has_relatives', 'is_verified',
       'is_confirmed', 'has_status', ],inplace=True,axis=1)

In [8]:
df

,has_domain,has_birth_date,has_photo,can_post_on_wall,can_send_message,has_website,gender,has_short_name,has_first_name,has_last_name,...,ads_ratio,avg_views,posting_frequency_days,phone_numbers_ratio,avg_text_uniqueness,city,has_occupation,occupation_type_university,occupation_type_work,has_personal_data
0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
1,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
2,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
3,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
4,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown,Unknown,Unknown,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5869,1.0,1.0,1.0,0.0,0.0,Unknown,2.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Saint Petersburg,1.0,0.0,1.0,Unknown
5870,1.0,Unknown,1.0,0.0,0.0,Unknown,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Saint Petersburg,1.0,1.0,0.0,Unknown
5871,1.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Saint Petersburg,1.0,1.0,0.0,Unknown
5872,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Moscow,1.0,0.0,1.0,Unknown
5873,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,431.3,17.79,0.0,0.61,Saint Petersburg,1.0,0.0,1.0,1.0

In [9]:
df.drop(['posts_count', 'avg_likes', 'links_ratio',
       'hashtags_ratio', 'avg_keywords', 'avg_text_length',
       'attachments_ratio', 'avg_comments', 'reposts_ratio', 'ads_ratio',
       'avg_views', 'posting_frequency_days', 'phone_numbers_ratio',
       'avg_text_uniqueness', 'city', 'has_occupation',
       'occupation_type_university', 'occupation_type_work',
       'has_personal_data'],inplace=True,axis=1)

In [10]:
df

,has_domain,has_birth_date,has_photo,can_post_on_wall,can_send_message,has_website,gender,has_short_name,has_first_name,has_last_name,access_to_closed_profile,is_profile_closed,target
0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1
1,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1
2,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1
3,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1
4,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5869,1.0,1.0,1.0,0.0,0.0,Unknown,2.0,1.0,1.0,1.0,0.0,1.0,0
5870,1.0,Unknown,1.0,0.0,0.0,Unknown,1.0,1.0,1.0,1.0,0.0,1.0,0
5871,1.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,1.0,1.0,0.0,0
5872,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0
5873,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0

In [13]:
df.columns

Index(['has_domain', 'has_birth_date', 'has_photo', 'can_post_on_wall',
       'can_send_message', 'has_website', 'gender', 'has_short_name',
       'has_first_name', 'has_last_name', 'access_to_closed_profile',
       'is_profile_closed', 'target'],
      dtype='object')

In [15]:
print(len(df[df['has_birth_date'] == 'Unknown']))
print(len(df[df['has_photo'] == 'Unknown']))
print(len(df[df['can_post_on_wall'] == 'Unknown']))
print(len(df[df['can_send_message'] == 'Unknown']))
print(len(df[df['has_website'] == 'Unknown']))
print(len(df[df['gender'] == 'Unknown']))
print(len(df[df['has_short_name'] == 'Unknown']))
print(len(df[df['has_first_name'] == 'Unknown']))
print(len(df[df['has_last_name'] == 'Unknown']))
print(len(df[df['access_to_closed_profile'] == 'Unknown']))
print(len(df[df['is_profile_closed'] == 'Unknown']))

856
24
24
24
742
24
24
24
24
24
24

In [22]:
columns = df.drop(['has_domain','target'],axis=1)

for column in columns:
    count = len(df[df[column] == True])
    print(count)

0
0
0
0
0
0
0
0
0
0
0

In [23]:
df.describe()

            target
count  5874.000000
mean      0.500000
std       0.500043
min       0.000000
25%       0.000000
50%       0.500000
75%       1.000000
max       1.000000

In [24]:
df.dtypes

has_domain                  object
has_birth_date              object
has_photo                   object
can_post_on_wall            object
can_send_message            object
has_website                 object
gender                      object
has_short_name              object
has_first_name              object
has_last_name               object
access_to_closed_profile    object
is_profile_closed           object
target                       int64
dtype: object

In [31]:
for column in columns:
    has1  = len(df[df[column] == '1.0'])
    has0 = len(df[df[column] == '0.0'])
    hasUnknown = len(df[df[column] == 'Unknown']) 
    df[column].replace('Unknown',1.0,inplace=True) if has1 > has0 else df[column].replace('Unknown',0.0,inplace=True)
    print(f"{column};  1.0 :{has1} \t 0.0:{has0} \t Unknown:{hasUnknown}")

has_birth_date;  1.0 :5018 	 0.0:0 	 Unknown:0
has_photo;  1.0 :3232 	 0.0:2618 	 Unknown:0
can_post_on_wall;  1.0 :227 	 0.0:5623 	 Unknown:0
can_send_message;  1.0 :2601 	 0.0:3249 	 Unknown:0
has_website;  1.0 :696 	 0.0:4436 	 Unknown:0
gender;  1.0 :4512 	 0.0:32 	 Unknown:0
has_short_name;  1.0 :5850 	 0.0:0 	 Unknown:0
has_first_name;  1.0 :5850 	 0.0:0 	 Unknown:0
has_last_name;  1.0 :5844 	 0.0:6 	 Unknown:0
access_to_closed_profile;  1.0 :5091 	 0.0:759 	 Unknown:0
is_profile_closed;  1.0 :759 	 0.0:5091 	 Unknown:0

In [32]:
for column in columns:
    df[column].replace('1.0',1.0,inplace=True)
    df[column].replace('0.0',0.0,inplace=True)

In [33]:
df.describe()

,has_birth_date,has_photo,can_post_on_wall,can_send_message,has_website,has_short_name,has_first_name,has_last_name,access_to_closed_profile,is_profile_closed,target
count,5874.0,5874.000000,5874.000000,5874.000000,5874.000000,5874.0,5874.0,5874.000000,5874.000000,5874.000000,5874.000000
mean,1.0,0.554307,0.038645,0.442799,0.118488,1.0,1.0,0.998979,0.870787,0.129213,0.500000
std,0.0,0.497084,0.192764,0.496760,0.323213,0.0,0.0,0.031947,0.335465,0.335465,0.500043
min,1.0,0.000000,0.000000,0.000000,0.000000,1.0,1.0,0.000000,0.000000,0.000000,0.000000
25%,1.0,0.000000,0.000000,0.000000,0.000000,1.0,1.0,1.000000,1.000000,0.000000,0.000000
50%,1.0,1.000000,0.000000,0.000000,0.000000,1.0,1.0,1.000000,1.000000,0.000000,0.500000
75%,1.0,1.000000,0.000000,1.000000,0.000000,1.0,1.0,1.000000,1.000000,0.000000,1.000000
max,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.000000,1.000000,1.000000,1.000000

In [36]:
df.drop(['has_domain','has_short_name','has_first_name'],inplace=True,axis=1)

In [42]:
columns = df.columns
for column in columns:
    has1 = len(df[df[column] == 1.0])
    has0 = len(df[df[column] == 0.0])
    hasUnknown = len(df[df[column] == 'Unknown'])
    
    print(f"Column {column}; has1 :{has1} \t has0 :{has0} \t Unknown:{hasUnknown} \t ")

Column has_birth_date; has1 :5874 	 has0 :0 	 Unknown:0
Column has_photo; has1 :3256 	 has0 :2618 	 Unknown:0
Column can_post_on_wall; has1 :227 	 has0 :5647 	 Unknown:0
Column can_send_message; has1 :2601 	 has0 :3273 	 Unknown:0
Column has_website; has1 :696 	 has0 :5178 	 Unknown:0
Column gender; has1 :4536 	 has0 :32 	 Unknown:0
Column has_last_name; has1 :5868 	 has0 :6 	 Unknown:0
Column access_to_closed_profile; has1 :5115 	 has0 :759 	 Unknown:0
Column is_profile_closed; has1 :759 	 has0 :5115 	 Unknown:0
Column target; has1 :2937 	 has0 :2937 	 Unknown:0

In [45]:
df.columns

Index(['has_birth_date', 'has_photo', 'can_post_on_wall', 'can_send_message',
       'has_website', 'gender', 'has_last_name', 'access_to_closed_profile',
       'is_profile_closed', 'target'],
      dtype='object')

In [46]:
X, y = df[['has_birth_date', 'has_photo', 'can_post_on_wall', 'can_send_message',
       'has_website', 'gender', 'has_last_name', 'access_to_closed_profile',
       'is_profile_closed']],df[['target']]

In [47]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.2,random_state=0)

In [48]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [49]:
model.fit(X_train,y_train)

/Users/erdaulet/Desktop/allProjects/myenv/lib/python3.7/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [50]:
y_pred = model.predict(X_test)

In [51]:
from sklearn.metrics import classification_report 
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.95      0.90       584
           1       0.94      0.85      0.90       591

    accuracy                           0.90      1175
   macro avg       0.90      0.90      0.90      1175
weighted avg       0.90      0.90      0.90      1175